<style>

.ventanaBorder {
	font-size: 85%;
    margin-left:auto;
    margin-right:auto;
    border: 10px solid #a1a1a1;
    padding: 0px 50px; 
    background: #B8B8B8;
    width: 650px;
    border-radius: 15px;
}
</style>


<div class="ventanaBorder"> 
<h2><center>¿Qué es una subasta?</center></h2><br>
Una subasta o remate es una venta organizada de un producto basado en la
competencia directa, es decir, aquel comprador (postor) que pague la mayor cantidad
de dinero o de bienes es quien se quedará con el producto en cuestión.
<br><br><br>

<h2><center>Bestnid</center></h2> <br>
Es considerado un remate, pero un tanto particular. En Bestnid el bien
subastado no se adjudica al postor que más dinero haya ofrecido por él, sino que cada
postor comunica por qué necesita dicho producto, y el subastador elegirá un ganador.
<br><br>
</div>