<% if @oferta.usuario.id == current_usuario.id %>
<p>
  <strong>Motivo:</strong>
  <%= @oferta.motivo %>
</p>

</br>

<p>
  <strong>Monto:</strong>
  <%= @oferta.monto %>
</p>
</br>


<%= link_to 'Atras', oferta_path %>

<% else %>
<strong>Direccion no disponible</strong>
<% end %>

