  <% if flash[:danger] %>
    <h4><font color="red"><div class="danger"><%= flash[:danger] %></div></font></h4>
  <% end %>
  <% if flash[:success] %>
    <h4><font color="blue"><div class="success"><%= flash[:success] %></div></font></h4>
  <% end %>

