<style>
.ventanaBorder {
	font-size: 85%;
    margin-left:auto;
    margin-right:auto;
    border: 10px solid #a1a1a1;
    padding: 0px 50px; 
    background: #B8B8B8;
    width: 330px;
    border-radius: 15px;
}
</style>

<div class="ventanaBorder">
<center><h1>Nueva Categoria</h1>


<%= render 'form' %>

<%= link_to 'Atras', categoria_path %></center>
</div>