
  <tbody>
      <tr>
	    <td><%= image_tag(usuario.url, size: "80") %></td>
        <td><%= link_to usuario.nombre, usuario %></td>
        <td><% if current_usuario.admin? && !current_usuario?(usuario) %>
             <%= link_to "Eliminar", usuario, method: :delete, data: { confirm: "Esta Seguro?" } %>
	         <% end %></td>
      </tr>
  </tbody>
