<h1>Mis ofertas</h1>

<table class="table">
    <tr>
      <th>Producto</th>
      <th>        </th>
      <th>      </th>
    </tr>
  <% oferta = Oferta.all%>
  <tbody>
    <% oferta.each do |o| %>
      <tr>
        <td>Link a producto</td>
        <td>       </td>
        <td> <%= link_to 'Ver detalles', oferta_path(o.id) %>    </td>
      </tr>
    <% end %>
</table>


