<style>

.error{
	position: absolute;
    left: 10px;
	font-size: 100%;
    border: 5px solid #a1a1a1;
    padding: 5px 80px; 
    background: #FF3030;
    width: 450px;
    border-radius: 15px;

}
   
p.oblique {
    font-style: oblique;
}

.ventanaBorder {
	font-size: 85%;
    margin-left:auto;
    margin-right:auto;
    border: 10px solid #a1a1a1;
    padding: 0px 50px; 
    background: #B8B8B8;
    width: 330px;
    border-radius: 15px;
}
</style>

<div class="ventanaBorder"> 
<h1>Editar perfil</h1>

<%= render 'form' %>

<p>
  <%= link_to "Atras", controller: "usuarios", action: "show", id: @usuario.id %>
</p>
</div>